name: home-helm
replicas: 1
image:
  repository: home-helm
  tag: ""
containerPort: 5000
service:
  type: LoadBalancer
  port: 80
  targetPort: 5000
resources: {
  limits: {
    cpu: 250m,
    memory: 256Mi
  },
  requests: {
    cpu: 100m,
    memory: 128Mi
  }
}
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
