name: profile-helm
replicas: 1
image:
  repository: profile-helm
  tag: ""
containerPort: 5002
service:
  type: LoadBalancer
  port: 5002
  targetPort: 5002
resources: {
  limits: {
    cpu: 250m,
    memory: 256Mi
  },
  requests: {
    cpu: 100m,
    memory: 128Mi
  }
}
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
